/* CreateUser.css */

.create-user-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url('./assets/sartex.jpg') no-repeat center center fixed;
  background-size: cover;
  backdrop-filter: blur(15px);
  padding: 20px;
  }
  
  .create-user-form {
    width: 50%;
    background-color: white;
    border-radius: 0.5rem;
    padding: 2rem;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .create-user-form h2 {
    margin-bottom: 1.5rem;
    color: #333;
  }
  
  .create-user-form .form-control {
    margin-bottom: 1rem;
    padding: 0.5rem;
    border-radius: 0.25rem;
    border: 1px solid #ced4da;
  }
  
  .create-user-form .btn-success {
    width: 100%;
    padding: 0.75rem;
    background-color: #28a745;
    border-color: #28a745;
    font-weight: bold;
  }
  
  .create-user-form .btn-success:hover {
    background-color: #218838;
    border-color: #1e7e34;
  }
  